* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

body {
  background: white;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: auto;
}

table thead tr {
  border: 1px solid rgb(75, 75, 75);
}

table thead tr th {
  color: black;
  font: 600 14px "Inter";
  padding: 8px 8px;
  text-align: start;
}

table tbody tr td {
  border: 1px solid rgb(205, 205, 205);
  color: black;
  font: 400 16px "Inter";
  padding: 4px 0;
  padding-left: 8px;
  width: 220px;
}


table tbody tr #cases span {
  color: rgb(0, 155, 0);
}

table tbody tr #cases {
  background: rgb(245,  255, 245);
}

table tbody tr #deaths {
  background: rgb(255,  245, 245);
}
table tbody tr #deaths span {
  color: rgb(255, 0, 0);
}

table tbody tr #recovered {
  color: rgb(0, 155, 0);
}

table tbody tr #active {
  color: rgb(255, 0, 0);
}
