* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

body {
  background: #141414;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: auto;
  width: 660px;
}

table thead tr {
  border: 1px solid rgb(75, 75, 75);
}

table thead tr th {
  color: white;
  font: 600 14px "Inter";
  padding: 8px 8px;
  text-align: start;
}

table tbody tr {
  border: 1px solid #232323;
}

table tbody tr td {
  color: white;
  font: 400 14px "Inter";
  padding: 4px 0;
  padding-left: 8px;
}

table tbody tr #cases span {
  color: #37ff9b;
}

table tbody tr #deaths span {
  color: #ff9b9b;
}

table tbody tr #recovered {
  color: #37ff9b;
}

table tbody tr #active {
  color: #ff9b9b;
}
