* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

body { background: rgb(20, 20, 20) }

table {
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: auto;
  width: 660px;

  thead {
    tr {
      background: white;
      th {
        color: black;
        font: 600 14px "Inter";
        padding: 8px 12px;
        text-align: start;
      }
    }
  }

  tbody {
    tr {
      border: 1px solid rgb(30, 30, 30);

      &:nth-child(2n + 1) {
        background: rgb(30, 30, 30);
      }

      #recovered { color: #37ff9b }
      #active { color: #ff9b9b }
      
      #cases span {
        color: #37ff9b;
        font-weight: 600;
      }

      #deaths span {
        color: #ff9b9b;
        font-weight: 600;
      }

      td {
        color: white;
        font: 400 14px "Inter";
        padding: 6px 0;
        padding-left: 12px;
      }
    }
  }
}